/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */





#container {
    width:600px;
    margin:0 auto;
    background-color:#4f463c;
    border:1px solid #ccc8b8;
}

#topbar {
    height:216px;
    padding-top:3px;
    text-align:right;
    font-family:Verdana;
    font-size:0.6em;
    font-style:italic;
    color:#e8e5d1;
    background-image:url('pics/coffey.jpg');
    background-repeat:no-repeat;
    background-position:bottom;
}

#maincontent {
    float:left;
    width:65%;
}

#subcontent {
    float:right;
    width:33%;
}

#bottomcontent {
    float:left;
}