/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset */

body {
    font-family:Verdana;
}



#container {
    width:600px;
    margin:0 auto;
    background-color:#4f463c;
    border:1px solid #ccc8b8;
}

#topbar {
    height:216px;
    padding:3px 0;
    margin-bottom:5px;
    text-align:right;
    font-family:Verdana;
    font-size:0.6em;
    font-style:italic;
    color:#e8e5d1;
    background-image:url('pics/coffey.jpg');
    background-repeat:no-repeat;
    background-position:bottom;
}

#maincontent {
    float:left;
    width:65%;
}

#subcontent {
    float:right;
    width:33%;
}

#bottomcontent {
    float:left;
}

#menu {
    height:29px;
    background-color:#4f463c;
}

#menu a {
    display:none;
}

#menu ul {
    margin-left:12px;
}

#menu ul li {
    display:inline;
}

#menu ul li a {
    float:left;
    display:inline-block;
    margin-right:1px;
    font-size:0.8em;
    text-decoration:none;
    text-transform:capitalize;
    padding:5px 18px;
    background-color:#786f66;
    color:#e8e5d1;
}

#menu ul li.active a,
#menu ul li.active a:hover {
    background-color:#e8e5d1;
    color:#786f66;
}

#menu ul li a:hover {
    background-color:#9c9084;
}